extend base
block content
  h2 About Us
  #slideshow
    .slide-wrapper
      .slide
        .slide-number 
          img(src="/img/first.jpg" width='90%').ssimage
      .slide
        .slide-number
          img(src="/img/second.jpg" width='90%').ssimage
      .slide
        .slide-number
          img(src="/img/third.jpg" width='90%').ssimage
      .slide
        .slide-number
          img(src="/img/fourth.jpg" width='90%').ssimage
  section#us
  h2 Our Journey
  .container-parent
    .container
      i.far.fa.fa-thumbs-up.icon
      h3
        | START OF QUALITY FOOD
      p.feature-para
        | We started FIT Meals as a small shop under the guidence of experienced dieticians to cater healthy and delicious food at low prices in 2009.
    .container
      i.fa.fa-chart-line(aria-hidden='true').icon
      h3 CONTINUOUS GROWTH
      p.feature-para
        | With the love and support received from our clients our centres kept growing and we were soon one of the best known providers of healthy meal plans.
    .container
      i.fas.fa.fa-laptop.icon
      h3 NOW ONLINE!
      p.feature-para
        | Our aim has always been to serve our customers the most delicious and healthy food at ease. FIT Meals website was launched in 2016 so that customers can subscribe to meal plans from their home.