footer
  .footer-parent
    ul.footer-text
      li.text-value
        a(href='/aboutUs') About us
      li.text-value
        a(href='https://apps.apple.com/')
          img(src='download-app.svg',alt='iOS App', class='ftrimg')
      li.text-value
        a(href='https://play.google.com/') 
          img(src='google-play-badge.svg',alt='Android App',class='ftrimg')
    ul.social-link
      li
        a(href='https://www.facebook.com')
          i.fab.fa-facebook.icon-footer
      li
        a(href='https://www.twitter.com')
          i.fab.fa-twitter-square.icon-footer
      li
        a(href='https://wwww.instagram.com')
          i.fab.fa-instagram.icon-footer
      li
        a(href='https://www.youtube.com')
          i.fab.fa-youtube-square.icon-footer
  p.footer-p Copyright © 2020 Fit Meals. All rights reserved.
