extends base
block content
  h2 FORGOT PASSWORD
  .ent-container
    form.forgetPassword(style="margin-top:10rem")
      .entry
        .entry-text
          |Enter your registered Email-ID
        input(type="email").email
      button(type="submit").btn.btn-full.form-button SEND EMAIL