extends base
block header
  include homeheader  
block content
  section#features
    h2
      | Awesome Features
    .container-parent
      .container
        i.far.fa-calendar-plus.icon
        h3
          | 365 DAYS/YEAR
        p.feature-para
          | Never cook again! We really mean that. Our subscription plans include up to 365 days/year coverage. You can
          | also choose to order more flexibly if that's your style.
      .container
        i.fas.fa-clock.icon
        h3 ON TIME DELIVERIES
        p.feature-para
          | Your delicious and super healthy meals will be delivered right to your home or work at the time you select. We
          | work with the best chefs in each town to ensure that you're 100% happy.
      .container
        i.fas.fa-carrot.icon
        h3 100% ORGANIC
        p.feature-para
          | All our vegetables are fresh, organic and local. Animals are raised without added
          | hormones or antibiotics. Good for your health, the environment, and it also tastes better!
  section.how-to#how-to
    h2 STEPS TO FOLLOW
    .steps-parent
      .img-container
        img.howto-img(src='./img/Capture.PNG', alt='')
      .steps
        .steps-container.clearfix
          .step-val 1
          p.steps-para Signup now and choose the subscription plan that best fits your needs.
        .steps-container.clearfix
          .step-val 2
          p.steps-para
            | Order your delicious meal using our mobile app or website. Or you can even call us!
        .steps-container.clearfix
          .step-val 3
          p.steps-para Enjoy your meal plan at the time you choose. See you the next time!
  script(src="js/script.js")
