nav.sticky(style="position:relative;")
  ul.navigation
    li.logocontainer
      a(href="/")
        img.logo(src="FMLogo.png")
    li.nav-line
      a.white-anchors(href='/#features') FEATURES
    li.nav-line
      a.white-anchors(href='/aboutUs') ABOUT US
    li.nav-line
      a.white-anchors(href='/plans') PLANS
    li.nav-line
      a.white-anchors(href='/contactUs') CONTACT US
    if user
        li.nav-line
          a.white-anchors(href='/profilePage') #{(user.name).split(' ').shift()}
        li.nav-line
          a.white-anchors(href='javascript:;').logout LOGOUT
    else
        li.nav-line
          a.white-anchors(href='/login') LOGIN
    li.nav-line
      .onoffswitch
        input#myonoffswitch.onoffswitch-checkbox(type='checkbox', name='onoffswitch', tabindex='0')
        label.onoffswitch-label(for='myonoffswitch')
          span.onoffswitch-inner
          span.onoffswitch-switch
