extends base
block content
  include search
  section.signup
    h2 START EATING HEALTHY TODAY
    if(plans.length!=0)
      .signup-parent
        for plan in plans
          include planCard 
    else
      h3 Sorry no resuls found !