extends base
block content
  h2 User Page
  .profile-container
    p
      .imgdiv 
        img(src=`${user.profileImage}`,class="profileimg")  
    p #{user.name}
    p Email: #{user.email}
    p
      a(href="/updateInfo") Update info
    p
      a(href="/myBookings") My Bookings
    if user.role=="admin"
      p
        a(href="/manageUsers") Manage Users
      p
        a(href="/managePlans") Manage Plans
