extends base
block content
  h2 FORGOT PASSWORD
  .ent-container
    form.resetPassword(style="margin-top:3.5rem")
      .entry
        .entry-text
          |Enter new Password
        input(type="password").password
      .entry
        .entry-text
          |Confirm Password
        input(type="password").confirmPassword
      button(type="submit" data-token=`${token}`).btn.form-button SUBMIT