.searchbar
    if(plans)
        |Sort_By:
        select(name='sortSelect',id=sbar)
                option(value='None' selected=(sp==null||sp==undefined)) Alphabetically
                option(value='ratingsAverage desc' selected=(sp=='ratingsAverage desc')) Best Rated
                option(value='netprice ascending' selected=(sp=='netprice ascending')) Low Net Price
                option(value='discount -1' selected=(sp=='discount -1')) High Discount
    input(type='text', name='search', placeholder='Search',id='sbar', value=val)
    button(type="submit" name='searchbtn').btn.form-button
        i.fa.fa-search(aria-hidden='true')