extends base
block content
  h2 User Page
  .ent-container
    h3
      p 
        .imgdiv
          img(src=`${user.profileImage}`,class="profileimg")  
        input(type="file", name="").updateProfile
      form.updateMyInfo
        .entry
          .entry-text Name
          input(type='text', name='name', value=`${user.name}`)
        .entry
          .entry-text Email
          input(type='email', name='email', value=`${user.email}`)
        .btn-parent
          button.btn.btn-primary(type='submit') Update Info
  

