extends base
block content
  h2 Update User
  .ent-container
    h3
      p 
        .imgdiv
          img(src=`${user1.profileImage}`,class="profileimg")  
        input(type="file", name="").updateProfile2
      form.updateUserInfo
        .entry
          .entry-text Name
          input(type='text', name='name1', value=`${user1.name}`, uid=`${user1.id}`)
        .entry
          .entry-text Email
          input(type='email', name='email1', value=`${user1.email}`)
        .entry
          .entry-text Role
          select(name='role1')
            option(value='admin',selected=(user1.role=='admin')) Admin
            option(value='user',selected=(user1.role=='user')) User
            option(value='restaurant owner',selected=(user1.role=='restaurent owner')) Restaurent Owner
            option(value='delivery boy',selected=(user1.role=='delivery boy')) Delivery Boy
        .btn-parent
          button.btn.btn-primary(type='submit') Update User