.signup-child
        .signup-header
          h3 #{user.name}
        .signup-features
          ul
            li
              .imgdiv
                img(src=`${user.profileImage}`, alt="Profile image", class="profileimg")
            li
              | Role:#{user.role}
            li
              | E-mail:#{user.email}
          .signup-button
            a.btn.btn-full(href='#') Update
